body{
   // background: blue !important;
    text-align: center;
    background-color: azure;

}

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center;
}

h3, h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
}
